

header {
  height: 80px;
  padding: 10px 0;
  display: flex;
  background-color: #E5E7E8
}

.heading {
  width: 50%;
  margin-left: 30px;
  font-size: 10px;
}

.title {
  font-size: 15px;
}


.navbar {
  width: 50%;
  padding: 20px;
}

.nav-lists {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.menu{
  list-style: none;
  background-color: black;
  color: white;
  padding: 10px;
}

.login {
  color: white;
  padding-bottom: 10px;
  text-decoration: none ;
}

.login-name {
  color: white;
  text-decoration: none ;
}

.logout {
  color: white;
  text-decoration: none ;
}

.sign-up {
  color: white;
  text-decoration: none ;
}

.sign-pianist {
  color:white;
  text-decoration: none ;
}

.black-bar {
 height: 20px;
 background-color: black;
}

.description {
  height: 300px;
  background-color: #E5E7E8;
  display:flex;
}

.explanation {
  padding: 10px;
}

.explanation-top {
  margin: 90px 0 0 50px;
  font-size: 20px;
}

.image-diagram {
  display: flex;
}



.top-image {
  height: 300px;
  width: 500px;
  margin-left: 200px;
  margin-top: 2px;
}

.pianist-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.piano-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.pianist-contents {
  background-image: url("/assets/greyfloral.png");
  height: 500px;
}

.pianist-name {
  text-decoration: none;
  color: black;
  padding-right: 40px;
}



.search-form {
  /*margin: 10px 0;*/
  text-align: center;
  background-image: url("/assets/greyfloral.png");
  padding:30px 0;
}

.search {
  background-color: black;
  color: white;
}

.subtitle {
  font-size: 20px;
}


.pianist-img-content {
  position: relative;
  padding: 0 20px;
}

/*.piano-lists {
display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.status {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}*/

.pianist-area {
  padding-left: 50px;
  color: black
}


.pianist-image {
  height: 200px;
  width: 200px;
}

footer{
  height: 50px;
  background-color: black;
}

.copy-right {
  text-align: center;
  color: white;
}

.sub {
  margin-bottom: 20px;
}

.back-top {
  text-align: center;
  text-decoration: none ;
  background-color: black;
  color: white;
  margin-top: 50px;

}