

header {
  height: 70px;
  padding: 10px 0;
  display: flex;
}

.heading {
  width: 50%;
  margin-left: 30px;
  font-size: 10px;
}

.title {
  font-size: 15px;
}


.navbar {
  width: 50%;
  padding: 20px;
}

.nav-lists {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.menu{
  list-style: none;
  background-color: black;
  color: white;
  padding: 10px;
}

.login {
  color: white;
  padding-bottom: 10px;
}

.login-name {
  color: white;
}

.logout {
  color: white;
}

.sign-up {
  color: white;
}

.sign-pianist {
  color:white;
}

.black-bar {
 height: 50px;
 background-color: black;
 margin-top: 10px;
}

.description {
  height: 150px;
  background-color:#DCE1E3;
  display:flex;
}

.explanation {
  padding: 10px;
}

.explanation-top {
  margin: 30px;
  font-size: 20px;
}

.image-diagram {
  display: flex;
}

.top-image {
  height: 80px;
  width: 80px;
  margin-left: 80px;
  margin-top: 40px;
}

.pianist-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.piano-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


/*.piano-content{
  font-size: 25px;
}*/


.search-form {
  margin-top: 10px;
  text-align: center;
}

.search {
  background-color: black;
  color: white;
}

.subtitle {
  font-size: 20px;
}


.pianist-img-content {
  position: relative;
  padding: 0 20px;
}

/*.piano-lists {
display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.status {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}*/

.pianist-area {
  padding-left: 50px;
}


.pianist-image {
  height: 200px;
  width: 200px;
}

footer{
  height: 50px;
  background-color: black;
}

.copy-right {
  text-align: center;
  color: white;
}

