
  <body>
    <header>
      <div class="heading">
        <h1 class="title">声楽家のための<br>PianistSearch</h1>
    </div>
     <div class="navbar">
       <ul class="nav-lists">
         <li>新規登録</li>
         <li>ログイン</li>
         <li>伴奏者登録</li>
       </ul>
     </div>      
    </header>

    <div class= "black-bar"></div>

    <!-- サイト説明 -->
    <div class= "description">
      <div class="explanation">
      <p class="explanation-top">伴奏者探しに困っていませんか<br>オンラインで伴奏者を見つけましょう</p>
      </div>
      <div class="image-diagram">
        <img src="images/singing.png" alt="歌っている人イラスト" class="top-image">
      </div>
    </div>

    <!-- 伴奏者一覧-->
    <div class= "pianist-list">
      <!-- 検索フォーム-->
      <div class="search-form">
        <input type="text" placeholder="伴奏者を検索する" class="small-field">
        <input type="submit" value="検索" class="search">
      </div>
      <div class="pianist">
        <p class="pianist-content">伴奏者一覧</p>
      </div>
      

    </div>
    
      
      
      
</body>
    <footer>
      <p class="copy-right">Copyright(C) PianistSearch ALL RIGHTS RESERVED.</p>
    </footer>
  
