

<div class="chat-room">
  <div class="name-group">
     <div class="user-name">
     <p class="name">山田太郎</p>
     </div>
     <div class="chat-name">
     <p class="chat">〇〇さんとのチャットルーム</p>
  </div>
 </div>

<div class="message">
   <div class="upper-message">
    <div class="message-user">
      山田太郎
    </div>
    <div class="message-date">
      2020/3/31(Wed) 12:43:30
    </div>
  </div>
  <div class="lower-message">
    <div class="message-content">
      おはよう
    </div>
  </div>

  <div class="upper-message">
    <div class="message-user">
      田中花子
    </div>
    <div class="message-date">
      2020/3/31(Wed) 12:47:30
    </div>
  </div>
  <div class="lower-message">
    <div class="message-content">
      こんばんは
    </div>
  </div>
</div>

<div class="form">
  <div class="form-input">
    <input class="form-message" placeholder= "type a message">
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>

</div>
